.container
    .page-header
        h1 Températures à Halloville <small>(Stage Alexandre Belin)</small>
    .row-fluid
        .span4.well
            .therm_location
                .centrage
                    img(ng-hide="!outsideWeather.icon_url", ng-src="{{outsideWeather.icon_url}}")
                    i.icon-globe.icon-4x(ng-show="!outsideWeather.icon_url")
            .therm_graph
                .centrage
                    thermometer-canvas(temperature="outsideWeather.temperature",width=180/2,height=895/2,positive-color="rgb(200,0,0)",negative-color="rgb(0, 102, 198)")
            .therm_info
                .centrage
                    trend-icon(trend-value="outsideWeather.trend")
                    span.temperature: strong {{outsideWeather.temperature|number:1}} °C
                    span(ng-click="refreshOutSideWeather()"): i.icon-refresh.icon
        .span4.well
            .therm_location
                .centrage
                    i.icon-home.icon-4x
            .therm_graph
                .centrage
                    thermometer-canvas(temperature="homeTemperature",width=180/2,height=895/2,positive-color="rgb(200,0,0)",negative-color="rgb(0, 102, 198)")
            .therm_info
                .centrage
                    //i.icon-arrow-up.icon-2x
                    span.temperature: strong {{homeTemperature|number:1}}°C
                    span(ng-click="refreshInSideWeather()"): i.icon-refresh.icon
        .span4.well
            .therm_location
                .centrage
                    i.icon-fire.icon-4x
            .therm_graph
                .centrage
                    thermometer-canvas(temperature="heat.temperature",width=180/2,height=895/2,positive-color="rgb(200,0,0)",negative-color="rgb(0, 102, 198)")
            .therm_info
                .centrage
                    i.icon-circle.icon-2x
                    span.temperature: strong {{heat_temp}}°C
                    i.icon-minus.icon-2x
                    i.icon-plus.icon-2x
                    span(ng-click="refreshZybaseInfo()"): i.icon-refresh.icon

