<style type="text/css">
	.red{
		border: solid #ff0000 1px;
	}

	/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.therm_location{
	margin-bottom: 1em;
}

.therm_graph{
	margin:1em;
}

.therm_info{
	margin-top:1em;
}

</style>

<div class="container">
    <div class="page-header">
    	<h1>Températures à Halloville <small>Stage Alexandre Belin</small></h1>
    </div>

	<div class="row-fluid">
		<div class="span4 well">
			<div class="therm_location">
				<i class="icon-globe icon-4x"></i>	
			</div>
			<div class="therm_graph">
				<img src="images/thermometer.png" width="50%">	
			</div>		
			<div class="therm_info">			
				<i class="icon-arrow-down icon-2x"></i>
				<span>19.0°C</span>
				<i class="icon-refresh icon-2x"></i>
			</div>
		</div>

		<div class="span4 well">
			<div class="therm_location">
				<i class="icon-home icon-4x"></i>	
			</div>
			<div class="therm_graph">
				<img src="images/thermometer.png" width="50%">	
			</div>		
			<div class="therm_info">			
				<i class="icon-arrow-up icon-2x"></i>
				<span>19.0°C</span>
				<i class="icon-refresh icon-2x"></i>			
			</div>
		</div>

		<div class="span4 well">
			<div class="therm_location">
				<i class="icon-fire icon-4x"></i>	
			</div>
			<div class="therm_graph">
				<img src="images/thermometer.png" width="50%">	
			</div>		
			<div class="therm_info">			
				<i class="icon-circle icon-2x"></i>
				<span>19.0°C</span>							
				<i class="icon-minus icon-2x"></i>
				<i class="icon-plus icon-2x"></i>						
			</div>
		</div>
	</div>
</div>
